<html>
<head>
    <title>My Food Guide</title>
</head>

<body>
    <h1>Here's your customized meal plan!</h1>
    <h4>Vegetables and Fruit - Number of Servings: {{vfnum}}</h4>
    <p>{{vffoods|safe}}</p>
    <h4>Grains - Number of Servings: {{grnum}}</h4>
    <p>{{grfoods|safe}}</p>
    <h4>Milk and Alternatives - Number of Servings: {{minum}}</h4>
    <p>{{mifoods|safe}}</p>
    <h4>Meat and Alternatives - Number of Servings: {{menum}}</h4>
    <p>{{ mefoods|safe}}</p>
    <h4>Refresh to see a new customized plan </h4>
</body>

</html>